<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>UNews</title>
	</head>
	<body>
		<h1>Hello World</h1>
		<button id="selector">Click me!</button>
		<script>
			fetch("http://localhost:3000/user/test")
				.then(async (res) => await res.json())
				.then((data) => {
					console.log(data);
					localStorage.setItem("token", data.name);
				});

			localStorage.setItem();
		</script>
	</body>
</html>
